<div class='news_group'>
  <div class='news_block'>
    <h2><span class="page_label"><%= t('source.what.label') %></h2></span>
    <div class= 'about'>
	  <%= t 'source.rating.personalized_results' %><br/><br/>
      <%= t('source.rating.howto') %><br/><br/>
      <ol class='numbered'>
        <li><%= t 'source.rating.step_1' %></li><br/>
        <li><%= t 'source.rating.step_2' %></li>
      </ol>
      <br/>
      <%= t 'source.rating.values' %>
    
    </div>
  </div>
</div>