<% show_down_link = true %>
<% show_up_link = true %>
<% show_down_link = false if author_preference.preference && author_preference.preference < 2 %>
<% show_up_link = false if author_preference.preference && author_preference.preference > 1 %>
<% form_dom_id = "tu_ap_rating_form_#{author.id}" %>
<% if show_up_link %>
  <% form_tag( rate_author_path( author ), :id => form_dom_id, :class => 'inline_form'  ) do %>
    <%= hidden_field_tag :rating, 3 %>
    <span class="img1 thumb"><%= image_submit_tag( 'tupg.png' ) %></span>
  <% end %>
<% else %>
  <% form_tag( rate_author_path( author ), :id => form_dom_id, :class => 'inline_form'  ) do %>
    <%= hidden_field_tag :rating, '' %>
    <span class="img1 thumb"><%= image_submit_tag( 'tupb.png' ) %></span>
  <% end %>
<% end %>
<% form_dom_id = "td_ap_rating_form_#{author.id}" %>
<% if show_down_link %>
  <% form_tag( rate_author_path( author ), :id => form_dom_id, :class => 'inline_form' ) do %>
    <%= hidden_field_tag :rating, 1 %>
    <span class="img1 thumb"><%= image_submit_tag( 'tdng.png' ) %></span>
  <% end %>
<% else %>
  <% form_tag( rate_author_path( author ), :id => form_dom_id, :class => 'inline_form' ) do %>
    <%= hidden_field_tag :rating, '' %>
    <span class="img1 thumb"><%= image_submit_tag( 'tdnb.png' ) %></span>
  <% end %>
<% end %>
