<div class='news_group'>
  <div class='news_block'>
    <h2><span class="page_label"><%= t('authors.what.label') %></h2></span>
    <div class= 'about'>
      <%= t('authors.subscribe.why') %><br/><br/>
	<%= t('authors.subscribe.howto') %><br/><br/>
      <ol class='numbered'>
        <li><%= t 'authors.subscribe.step_1' %></li><br/>
        <li><%= t 'authors.subscribe.step_2' %></li>
      </ol>


      
     </div>
  </div>
</div>