<% percent = ( ( average.to_f - 1 ) / 2 * 100 ).round.to_i %>
<% percent = 0 if percent < 0 %>
<span class='stars' title='<%=  t("stars.info.#{source}", :percent => percent, :count => count.to_i) %>'>
<% if count.nil? || count == 0 %>
  <%= image_tag( 'nostar.png' )*3 -%>
<% elsif average <= 1.0 %>
  <%= image_tag( 'star.png' ) -%><%= image_tag( 'nostar.png' )*2 %>
<% elsif average <= 2.0 %>
  <%= image_tag( 'star.png' )*2 -%><%= image_tag( 'nostar.png' ) %>
<% else %>
  <%= image_tag( 'star.png' )*3 -%>
<% end %>
</span>