<% mouse_over( :dialog ) do | dialogEventClass, dialogItemClass | %>
<div class='news_block <%= content_block_position %> <%= dialogEventClass -%>'>
  <h2> 
	<span class='dialogBox <%= dialogItemClass%>'>
      <%= link_to( image_tag('up.gif'), up_section_path( :id => block.id ) ) %>
      <%= link_to( t('prefs.home_action.up'), up_section_path( :id => block.id ) ) if one_column_layout? %>
	  &nbsp;&nbsp;
	  <%= link_to( image_tag('down.gif'), down_section_path( :id => block.id ) ) %>
      <%= link_to( t('prefs.home_action.down'), down_section_path( :id => block.id ) ) if one_column_layout? %>
	  &nbsp;&nbsp;
	  <%= link_to( image_tag('close.gif'), section_path( :id => block.id ), :method => :delete, :confirm => 'Are you sure?' ) %>
	  <%= link_to( t('prefs.home_action.delete'), section_path( :id => block.id ), :method => :delete, :confirm => 'Are you sure?' ) if one_column_layout? %>
    </span>
    <span class = "page_label"><%= link_to  t("navigation.main.#{block.name}"), section_path( block.id ) %></span>

  </h2>
  <% if block.opinions? %>
    <% block.stories.each do |story| %>
      <div class='cluster'>
        <%= render_story_search_preview( story ) %>
      </div>
    <% end %>
  <% else %>
    <% block.clusters.each do |cluster| %>
      <div id='cluster_<%= cluster.id -%>' class='cluster'>
        <%= render_cluster_preview( cluster ) %>
      </div>
    <% end %>
  <% end %>
</div>
<% end %>
<%= content_block_clearfix %>