<% content_for :custom_javascript do %>
  <%= observe_form( "per_page_form", :function => "$('per_page_form').submit();" ) %>
  <script type='text/javascript'>
    function pagination_page_click( page_number ) {
      var form = $('pagination_form');
      var page = $('pagination_form_field_page')
      page.value = page_number;
      form.submit();
    }
  </script>
<% end %>
<% form_tag form_url, :method => form_method, :id => 'pagination_form' do %>
    <%= page_params( :exclude => 'page' ).collect{ |param| hidden_field_tag( param, params[param] ) }.join('') %>
    <%= hidden_field_tag( :page, nil, :id => 'pagination_form_field_page' )%>
<% end %>
<div class='pagination ta_center'>
  <span class='prev'><%= link_to_page_function( t('pagination.previous'), pagination.previous_page ) %></span>
  <span>-</span>
  <% pagination.numbered_pages.each do |page| %>
	<% if pagination.current_page == page %>
		<span class='current_page'><%= link_to_page_function( page, ( pagination.current_page == page ) ? nil : page ) %></span>
	<%else%>	
    <span class='page'><%= link_to_page_function( page, ( pagination.current_page == page ) ? nil : page ) %></span>
  	<% end %>
	<% end %>
  <span>-</span>
  <span class='next'><%= link_to_page_function( t('pagination.next'), pagination.next_page ) %></span>
</div>
<div class='per_page ta_center'>
    <% form_tag( url_for(:controller => :preferences, :action => :set_per_page ), :method => form_method, :id => :per_page_form ) do %>
      <%= hidden_field_tag( :referer, request_uri( form_url ) ) %>
      <%= t( 'search.results.per_page', :count => select_tag( 'id', options_for_select( per_page_options, per_page ) ) ) %>
    <% end %>
</div>
