<div class='news_group'>
  <div class='news_block'>
    <h2><span class="page_label"><%= t('reading_list.what.label') %></h2></span>
    <div class= 'about'>
      <%= t('reading_list.add.why') %><br/><br/>
      <%= t('reading_list.add.howto') %><br/><br/>
      <ol class='numbered'>
        <li><%= t('reading_list.add.step_1') %></li><br/>
        <li><%= t('reading_list.add.step_2') %></li><br/>
		<li><%= t('reading_list.add.step_3') %></li>
      </ol>
    </div>
  </div>
</div>