<div class='news_block'>
<h2><span class="page_label"><%= t( 'jurnalo.about.label' ) %></span></h2>
<div class = "about">
	<%= t('jurnalo.about.topics') %><br/><br>
  <%= t('jurnalo.about.ranking')%><br/>
  <br/><br/>
  <%= t('jurnalo.about.you_can') %>:
  <br/><br/>
  - <%= t('jurnalo.about.browse_news') %> <br/>
  - <%= t('jurnalo.about.search_news') %> <br/>
  - <%= t('jurnalo.about.subscribe_author') %> <br/>
  - <%= t('jurnalo.about.create_topic' ) %> <br/>
  - <%= t('jurnalo.about.weight') %> <br/>
  - <%= t('jurnalo.about.add_to_reading_list' ) %> <br/>
  <br>

  Credits<br/>
  <%= t('jurnalo.about.credits') %>:<br/><br/>
  <b><%= link_to 'Yukihiro Matsumoto', 'http://en.wikipedia.org/wiki/Yukihiro_Matsumoto' %> </b> (Ruby)<br/>
  <b><%= link_to 'David Heinemeier Hansson', 'http://en.wikipedia.org/wiki/David_Heinemeier_Hansson'%></b> (Rails) <br/>
  <b>Andrew Aksyonoff</b> (Sphinx <%= t('jurnalo.about.search_tech') -%>)<br/>
  <br/><br/>
</div>
</div>