<div class='news_block'>
<h2><span class="page_label"><%= t('jurnalo.imprint.label') %></span></h2>
<div class = 'about'>
Jurnalo UG (haftungsbeschränkt) <br>
Tessdorffstr.51 <br>
23611 Bad Schwartau <br>
Germany <br>
<%= t('jurnalo.imprint.tel' ) %>: +49 451 293 5990 <br>
<br>
E-Mail: jurnalo.user.service [at] jurnalo [dot] com <br>
<br>
<%= t('jurnalo.imprint.md') %><br/>
<%= t('jurnalo.imprint.rstv')%><br/>
<br>
<%= t('jurnalo.imprint.registry')%>: Amtsgericht Lübeck, HRB 9110 HL<br/>
<%= t('jurnalo.imprint.ust_id') %>: DE 26 5144 322<br/>
<br><br>
<%= t('jurnalo.imprint.disclaimer') %>
</div>
</div>