<div class='news_block'>
<h2><span class="page_label"><%= t('jurnalo.privacy.label') %></span></h2>
<div class = 'about'>
* <%= t('jurnalo.privacy.collects') %><br><br>
* <%= t('jurnalo.privacy.cookies') %><br><br>
* <%= t('jurnalo.privacy.accesses') %><br><br>
* <%= t('jurnalo.privacy.dont_passes') %><br><br>
* <%= t('jurnalo.privacy.summarizes') %><br><br>
* <%= t('jurnalo.privacy.uses') %><br><br>
* <%= t('jurnalo.privacy.researches') %><br><br>
</div>
</div>